<h1>Data Science Tools and Ecosystem</h1>
In this notebook, Data Science Tools and Ecosystem are summarized.</br>


<h2> Author </h2>
Cameron Mundle

</br></br>
**Objectives:**
<ul>
<li>List popular languages for Data Science</li>
<li>List popular libraries for Data Science</li>
<li>Perform mathematical operations</li>
</ul>



Some of the popular languages that Data Scientists use are:
<ol>
<li>R</li>
<li>Python</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>PyTorch</li>
</ol>


<table>
<tr>
    <th>
        Data Science Tools
    </th>
</tr>
<tr>
<td>JupyterNotebook</td>
</tr>
<tr>
<td>RStudio</td>
</tr>
    <tr>
<td>Spyder</td>
</tr>
    
 </table>
 
 
 <h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [14]:
# This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60

In [18]:
200 / 60

3.3333333333333335